#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.black-screen {
  background: linear-gradient(to right, black 10%, transparent);
}

.gallery {
  height: 500px;
  position: relative;
  color: white;
  display: flex;
}

.navigation {
  border: 5px solid black;
  color: white;
  position: absolute;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.content {
  padding: 32px;
  display: flex;
  align-items: center;
}

.content-text {
  text-align: left;
  width: 40%;
  margin: 15%;
}

.backdrop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.previous-button {
  border-radius: 50%;
  border: 0px;
  padding: 0px;
  height: 48px;
  transform: rotate(180deg);
  position: absolute;
  left: 5%;
}

.next-button {
  border-radius: 50%;
  border: 0px;
  padding: 0px;
  height: 48px;
  position: absolute;
  right: 5%;
}

.watchlist-button {
  background-color: rgb(173, 11, 11);
  color: white;
  padding: 4px 20px;
  border: none;
  border-radius: 5px;
}

.watchlist {
  color: red;
}

.top-rated-section {
  display: flex;
  gap: 25px;
  padding: 15px;
  text-align: left;
}

.movie-poster {
  width: 100%;
}

.movie-rating {
  display: flex;
  gap: 8px;
  align-items: center;
  color: grey;
}

.previous-button:hover,
.next-button:hover,
.watchlist-button:hover {
  cursor: pointer;
}
