:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
